.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    margin: 0 0 $spacing-24;
    cursor: pointer;

    h4 {
      color: $text-primary;
      margin-bottom: $spacing-8;
      font-weight: 600;
    }

    p {
      color: $text-secondary;
    }
  }
}

@media screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    margin: -$spacing-16;

    &-item {
      width: 100%;
      max-width: calc(33.33% - #{$spacing-32});
      margin: $spacing-16;
    }
  }
}
