.categories {
  display: flex;
  flex-direction: column;

  &-item {
    flex-grow: 1;
    margin: 0 0 1.5rem;

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 48rem) {
  .categories {
    flex-direction: row;
    margin: 0 -1rem;

    &-item {
      width: 33%;
      margin: 0 1rem;
    }
  }
}
