.navbar {
  height: $spacing-64;
  padding: 0 $spacing-16;
  background-color: $white;
  box-shadow: $box-shadow;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-brand {
    display: flex;
    align-items: center;

    img {
      height: $spacing-24;
    }

    h1 {
      font-weight: 400;
      font-size: $font-size-base;
      display: none;

      border-left: 2px solid $secondary;
      padding-left: $spacing-8;
      margin-left: $spacing-8;
    }
  }

  &-menu {
    margin-left: $spacing-16;

    a:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 $spacing-32;

    &-brand h1 {
      display: inline-block;
    }
  }
}
