.bp3-navbar {
  height: 4rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bp3-navbar-heading {
  display: flex;
  align-items: center;

  img {
    height: 1.75rem;
  }

  h1 {
    font-weight: 500;
    font-size: 1.125rem;
    display: none;

    border-left: 2px solid $light-gray1;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .bp3-navbar {
    padding: 0 2rem;
  }

  .bp3-navbar-heading {
    h1 {
      display: inline-block;
    }
  }
}
