.bp3-progress-bar,
.bp3-progress-bar .bp3-progress-meter {
  border-radius: 0;
}

.steps {
  height: calc(100% - 4rem);
  overflow-y: auto;

  .bp3-panel-stack-view {
    width: 100%;
    max-width: 48rem;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: transparent;
    border-right: transparent;
  }
}

.steps-item {
  &__header {
    margin-bottom: 2.5rem;

    p {
      color: $gray1;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .steps {
    .bp3-panel-stack-view {
      padding: 3rem 2rem;
    }
  }
}
