.steps {
  height: calc(100% - #{$spacing-64});
  overflow-y: auto;
}

.steps-item {
  width: 100%;
  max-width: 768px;
  height: fit-content;
  padding: $spacing-16;
  margin: 0 auto;

  &__header {
    margin-bottom: $spacing-44;

    h2 {
      font-size: $font-size-title;
      font-weight: 600;
    }

    p {
      color: $text-secondary;
      margin-top: $spacing-8;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-44;
  }
}

@media screen and (min-width: 768px) {
  .steps-item {
    padding: $spacing-48 $spacing-32;
  }
}
