@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import 'variables';
@import 'navbar';
@import 'fields';
@import 'button';
@import 'card';
@import 'steps';
@import 'categories';
@import 'images';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  background-color: #f5f8fa;
  color: $black;
}

.published {
  text-align: center;

  .button {
    margin: 2rem auto 0;
  }
}
