@import '~normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';

@import 'navbar';
@import 'steps';
@import 'categories';
@import 'images';

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: #f5f8fa;
  color: #182026; // dark-gray-1
}
